    <div class="row headerStyling" >
        <div class="col-12 quizHeader">
            QUIZ
        </div>
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-12  d-flex mt-5">
            <span class="knowledgreTxt"> Test Your Knowledge </span>
          </div>
          <div class="col-md-12  d-flex  mt-4">
            <span class="gearUpTxt"> Gear Up With Our Quiz. </span>
          </div>
          <div class="col-md-12 d-flex alignImage mt-4">
            <img
              class="" height="115%"
              src="/assets/Auth/knowledge.svg"     
            />
          </div>
        </div>
      </div>

      <div class="col-md-5 bgImg d-flex justify-content-center" >
        <div class="">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
