<div id="wrapper">
    <div class="row d-flex" id="topbar-wrapper">
        <div class="col-1 d-flex justify-content-center mt-3">
            <img src="/assets/Dashboard/quizImg.svg" height="30px" />
        </div>
        <div class="col-10 d-flex justify-content-start userStyling">
            ADMIN
        </div>
        <div class="col-1 d-flex justify-content-center mt-2">
            <img src="/assets/Dashboard/profileImg.png" height="43px" />
        </div>
    </div>

    <div id="sidebar-wrapper">

        <!-- My Profile tab -->
        <!-- <div class=" justify-content-center mt-4" [ngClass]="router.url == '/admin-dashboard' ? 'profileImg' : 'nonProfileImg'"
            routerLink="/dashboard">
            <div class="d-flex justify-content-center  mt-4 " >
                <img [src]="router.url == '/admin-dashboard'
                ? '/assets/Dashboard/darkProfile.svg'
                : '/assets/Dashboard/lightProfile.svg'
            " [ngClass]="router.url == '/dashboard' ? 'iconImgStyling' : ''"/>
            </div>
            <div class="d-flex justify-content-center  mt-1 pb-2">
                My Profile
            </div>
        </div> -->

        <!--Admin Quiz Tab -->
        <div class=" justify-content-center  mt-4 " [ngClass]="router.url == '/admin-dashboard' ? 'profileImg' : ''"
            routerLink="/admin-dashboard">
            <div class="d-flex justify-content-center mt-5">
                <!-- <img src="/assets/Dashboard/lightQuiz.svg" /> -->
                <img [src]="router.url == '/admin-dashboard'
                    ? '/assets/Dashboard/darkQuiz.svg'
                    : '/assets/Dashboard/lightQuiz.svg'
                " [ngClass]="router.url == '/admin-dashboard' ? 'iconImgStyling' : ''" />
            </div>
            <div class="d-flex justify-content-center  mt-1 pb-2">
                Quiz
            </div>
        </div>

        <!--Admin Reports Tab -->
        <div class=" justify-content-center  mt-4 " [ngClass]="router.url == '/admin-dashboard/admin-reports' ? 'profileImg' : ''"
        routerLink="/admin-dashboard/admin-reports">
            <div class="d-flex justify-content-center mt-5">
                <img [src]="router.url == '/admin-dashboard/admin-reports'
                ? '/assets/Dashboard/darkReports.svg'
                : '/assets/Dashboard/lightReports.svg'
            " [ngClass]="router.url == '/admin-dashboard/admin-reports' ? 'iconImgStyling' : ''" />
            </div>
            <div class="d-flex justify-content-center  mt-1 pb-2">
                Analytics
            </div>
        </div>

        <!-- Logout Tab -->
        <div class=" justify-content-center logoutStyling mt-4 " routerLink="/auth">
            <div class="d-flex justify-content-center mt-5">
                <img src="/assets/Dashboard/logout.svg" />
            </div>
            <div class="d-flex justify-content-center  mt-1 pb-2">
                Logout
            </div>
        </div>

    </div>

    <!-- Dashboard Landing Router-->
    <div class="route-content">
        <router-outlet></router-outlet>
    </div>

</div>