<div class="row" id="page-content"  >
    <div class="col-12 p-4 ">

        <!-- Profile header wwith search -->
        <div class="col-12 mt-4   d-flex">
            <div class="col-9 profileStyling ">
                <div style="margin-top: 18px;">
                    MY PROFILE
                </div>
                
            </div>
            <div class="col-3  ">
                <!-- <mat-form-field appearance="outline" class="searchField">
                    <input
                      type="text"
                      matInput
                      placeholder="Search Careers"
                      [formControl]="myControl"
                      [(ngModel)]="searchText"
                    />
                    <mat-icon matSuffix class="magBag"> search </mat-icon>
                  </mat-form-field> -->
                <div class="searchStyling">
                    <div style="padding: 1rem" >
                        Search
                    </div>
                    
                </div>
                  
            </div>
        </div>

        <!-- Box Conatiner -->
        <div class="col-12 d-flex mt-4 boxStyling">
            <div class="col-6">
                <div class="row" style="margin-inline-start: 1rem;">
                    <div class="col-12 nameStyling mt-3 ">
                        Quiz Taker Name
                    </div>
                    <div class="col-12 emailStyling ">
                        quiztaker@gmail.com
                    </div>

                    <div class="row" >
                        <div class="col-4 emailStyling">
                            Quizzes Taken
                        </div>
                        
                        <div class="col-8 emailStyling">
                            Scoring Average
                        </div>
                    </div>

                    <!-- scores -->
                    <div class="row" style="margin-top: -6px;">
                        <div class="col-4 scoreStyling" >
                            17
                        </div>
                        
                        <div class="col-8 scoreStyling" >
                            3.2 
                            <span>
                                <img class="imageStarStyling" src="/assets/Dashboard/star.svg">
                            </span>
                        </div>
                    </div>

                    <!-- start New Quiz Button -->

                    <div class="col-12 mt-5 mb-4">
                        <button class="newQuizBtn" mat-raised-button routerLink="/dashboard/quiz">
                            Go to Quiz
                        </button>
                    </div>
                </div>
                
            </div>
            <div class="col-6 quizBgImg">
                
            </div>
        </div>




        <div class="row mt-4">
            <div class="col-12 recentQuizStyling">
                Recent Quizzes Taken
            </div>
        </div>
        
 
        <div class="col-12 d-flex mt-4" style="justify-content: space-around;">

            <!-- Sports Card -->
            <div class="row d-flex sportsCard ">
                <div class="col-6 dateStyling d-flex justify-content-center mt-4">
                    12/02/2022
                </div>
                <div class="col-6 d-flex justify-content-end scoreStyling mt-4" >
                    4.4
                    <span>
                        <img class="imageStarStyling" src="/assets/Dashboard/star.svg">
                    </span>
                </div>
                <div class="row">
                    <div class="titleStyling col-12">
                        Sports
                    </div>
                </div>
                <div class="descStyling col-12">
                        Description lore Epsom door sit ipsum free text space…
                </div>
            </div>

            <!-- Entertainment Card -->
            <div class="row d-flex entertainmentCard ">
                <div class="col-6 dateStyling d-flex justify-content-center mt-4">
                    12/02/2022
                </div>
                <div class="col-6 d-flex justify-content-end scoreStyling mt-4" >
                    3.4
                    <span>
                        <img class="imageStarStyling" src="/assets/Dashboard/star.svg">
                    </span>
                </div>
                <div class="row">
                    <div class="titleStyling col-12">
                        Entertainment
                    </div>
                </div>
                <div class="descStyling col-12">
                        Description lore Epsom door sit ipsum free text space…
                </div>
            </div>

            <!-- Science Card-->
            <div class="row d-flex scienceCard ">
                <div class="col-6 dateStyling d-flex justify-content-center mt-4">
                    12/02/2022
                </div>
                <div class="col-6 d-flex justify-content-end scoreStyling mt-4" >
                    3.2
                    <span>
                        <img class="imageStarStyling" src="/assets/Dashboard/star.svg">
                    </span>
                </div>
                <div class="row">
                    <div class="titleStyling col-12">
                        Science
                    </div>
                </div>
                <div class="descStyling col-12">
                        Description lore Epsom door sit ipsum free text space…
                </div>
            </div>

            <!-- Mathematics Card-->
            <div class="row d-flex mathematicsCard ">
                <div class="col-6 dateStyling d-flex justify-content-center mt-4">
                    12/02/2022
                </div>
                <div class="col-6 d-flex justify-content-end scoreStyling mt-4" >
                    3.4
                    <span>
                        <img class="imageStarStyling" src="/assets/Dashboard/star.svg">
                    </span>
                </div>
                <div class="row">
                    <div class="titleStyling col-12">
                        Mathematics
                    </div>
                </div>
                <div class="descStyling col-12">
                        Description lore Epsom door sit ipsum free text space…
                </div>
            </div>

            <!-- Physcology -->
            <div class="row d-flex physcologyCard ">
                <div class="col-6 dateStyling d-flex justify-content-center mt-4">
                    12/02/2022
                </div>
                <div class="col-6 d-flex justify-content-end scoreStyling mt-4" >
                    3.4
                    <span>
                        <img class="imageStarStyling" src="/assets/Dashboard/star.svg">
                    </span>
                </div>
                <div class="row">
                    <div class="titleStyling col-12">
                        Physcology
                    </div>
                </div>
                <div class="descStyling col-12">
                        Description lore Epsom door sit ipsum free text space…
                </div>
            </div>

        </div>
        
    </div>
</div>