/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";



@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,400&display=swap");
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
}

/* html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}

*:focus {
  outline: none !important;
} */

/* :root {
  --primary: #00b1e3;
  cursor: url("assets/Root/pencil-cursor.svg"), default; 
}

.primaryText {
  color: var(--primary);
}

.mat-tooltip {
  white-space: pre-line;
}

.mat-form-field-outline {
  background: white;
  border-radius: 5px;
} */

.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 0px;
  padding: 0rem;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: unset;
}

.mat-form-field {
   display: grid !important;
}

.mat-form-field-underline {
 display: none;
}

.mat-error {
  padding-left: 0.5rem;
  font-size: 14px;
  margin-top: -3px;
}

.mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0.25em 0em 0.35em 0em;
}

.profileImg {
  cursor: pointer;
}