
         <div class="row d-flex quizHeader">
            <div class="col-10 " style="height: max-content;">
                <img class="imgStyle" src="/assets/Dashboard/quizImg.svg">
              </div> 
              <div class="col-1">
                <button class="loginBtn" routerLink="/auth" mat-raised-button type="submit">Sign In</button>
              </div>
              <div class="col-1">
                <button class="signUpBtn" routerLink="/auth/signup" mat-raised-button type="submit">Sign up</button>
              </div>
         </div>


         <div class="col-12 bgHomeImg  "  style="height: -webkit-fill-available; margin-bottom: 3.4rem;">
   
            <div class="col-12 quizStyling d-flex justify-content-center">
                Take up a Quiz
            </div>

        <div class="col-12  d-flex justify-content-center">
            <img class="lineImgStyling" src="/assets/Auth/line.svg">
        </div> 
        <div class="col-12 competeStyling d-flex justify-content-center">
                COMPETE AND GROW
        </div>
        <div class="col-12 mt-3 animationStyling d-flex justify-content-center">
            <!-- <ng-lottie class="animation" [options]="options" src="./assets/92377.json" background="transparent" speed="1" style="width: 418.0000915527344px; height: 418.0000915527344px;" loop autoplay></ng-lottie> -->
            <ng-lottie class="animation"  [options]="options" (animationCreated)="animationCreated($event)"
            background="transparent" speed="1" style="width: 418.0000915527344px; height: 418.0000915527344px;" loop autoplay
            ></ng-lottie>
        </div>
        
        <div class="col-12  d-flex justify-content-center">
            <button class="getStartedBtn" routerLink="/auth" mat-raised-button type="submit">Get Started</button>
        </div>
        
    </div>


