
         <div class="row d-flex quizHeader">
            <div class="col-10 " style="height: max-content;">
                <img class="imgStyle" src="/assets/Dashboard/quizImg.svg">
              </div> 
              <div class="col-1">
                <button class="loginBtn" routerLink="/auth" mat-raised-button type="submit">Sign In</button>
              </div>
              <div class="col-1">
                <button class="signUpBtn" routerLink="/auth/signup" mat-raised-button type="submit">Sign up</button>
              </div>
         </div>

    <div class="col-12 bgHomeImg"  style="height: -webkit-fill-available;">
   
            <div class="col-12 quizStyling d-flex justify-content-center">
                Take up a Quiz
            </div>

        <div class="col-12  d-flex justify-content-center">
            <img class="lineImgStyling" src="/assets/Auth/line.svg">
        </div> 
        <div class="col-12 competeStyling d-flex justify-content-center">
            <!-- <span style="width: 478px;"> -->
                COMPETE AND GROW
            <!-- </span> -->
        </div>
        <div>
            <!-- <lottie-player class="animation" src="./assets/animations/92377.json" background="transparent" speed="1" style="width: 418.0000915527344px; height: 418.0000915527344px;" loop autoplay></lottie-player> -->

        </div>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    
        
    </div>



