.bgHomeImg {
    background-image: url(/assets/Auth/BG.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.quizHeader {
    background: #EFEFEF;
    margin: 0rem !important;
    border: 10px solid #EFEFEF;
    opacity: 1;
    padding: 0rem !important;
    color: #707070;
    font-size: 20px;
    font-family: -webkit-body;
}

.headerStyling {
    margin: 0rem 0.2rem 0rem 0.2rem;
}

.imgStyle {
    margin-bottom: -18px;
    margin-top: -9px;
    height:30px;
    vertical-align: bottom;
}

.quizStyling{
    font: normal normal 900 48px/57px Lato;
    top: 156px;
    position: absolute;
}   


.lineImgStyling {
position: absolute;
top: 237px;
width: 312px;
height: 5px;
border: 2px solid #0648FA;
border-radius: 32px;
opacity: 0.2;
}

.competeStyling{
    top: 266px;
    font: normal normal 100 42px/50px Lato;
    letter-spacing: 2.52px;
    color: #535353;
    text-transform: uppercase;
    position: absolute;
}

.loginBtn {
width: 100px;
height: 34px;
box-shadow: 0px 2px 4px #2C273814;
border: 1px solid #DBE2EA
}

.signUpBtn {
    width: 100px;
    height: 34px;
    background: #0648FA 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px #2c273814;
    /* opacity: 1; */
    color: white;
}

.animationStyling {
    position: absolute;
    top: 294px;
}

.getStartedBtn {
    width: 141px;
    top: 648px;
    color: white;
    background: #0648FA 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px #2c273814;
    opacity: 1;
    height: 48px;
    border-radius: 20px;
}